body{
  color: black;
	background-image: url("../images/90bg.jpeg");
  text-align: center;
  background-size: 149%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

html, body{
  height:100%;
}

#container{
  font-size: 48px;
  padding: 10% 0;
  width:960px;
  margin:10% auto;
  box-sizing: border-box;
  border: black;
  min-height: 80%;
}

.container2{
  position: relative;
  top:20%;
  color: white;
}

button{
  display:block;
  width:400px;
  height:100px;
  margin: 10px auto 0 auto;
  cursor: pointer;
  background:transparent;
  font-size: 42px;;
}

#head{
  margin: 10px 0;
  border: solid 2px black;
}

h1{
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: bold;
  color:white;
}

h2{
  font-size: 35px;
  margin-bottom: 25px;
}

h3{
  font-size: 25px;
  margin-bottom: 10px;
}

#start {
  color: whitesmoke;
  margin-top: 0%;
  font-size: 30px;
  width: 100px;
  height: 60px;
  background: darkblue;
  border: solid  2px black;
}

#quiz-area{
  margin-top: 50px;
  margin-bottom: 0;
}


button {
  background: darkblue;
  color: whitesmoke;
  width: 200px;
  height: 80px;
  border: solid 2px black;
}